.container{
  width: 80rem;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 5rem;
  margin-top: 5.5rem;
}

.line{
  width: 100%;
  height: 1px;
  background-color: var(--border-prim);
  margin-block: 2.5rem;
}
.title{
  display: grid;
  gap: .5rem;
  & span{
    color: var(--text-headline);
    text-transform: uppercase;
    font: var(--headline);
  }
  & p{
    color: var(--text-sec);
    text-align: justify;
  }
}

.paragraph{
  display: grid;
  margin-top: 1.25rem;
  gap: 1.75rem;

  & strong li{
    color: var(--accent-blue);
  }
}

#multi-color{

 & li:nth-child(1){
  color: var(--accent-purple);
 }
 & li:nth-child(2){
  color: var(--accent-orange);
 }
 & li:nth-child(3){
  color: var(--text-headline);
 }
}

  .sub-footer{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 3rem;
    & i{
      font-style: normal;
      text-align: center ;
      font-family: 'Times New Roman', Times, serif;
    }
  }
